<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--上传FTP文件路径-->
    <add key="FTPServer" value="172.20.70.19"/>
    <add key="FTPUserName" value="jishi"/>
    <add key="FTPPassword" value="jishi"/>
    <add key="FTPPortNO" value="21"/>
    <add key="PdfPath" value="D:\PdfPath\"/>
    <add key="ImagePath" value="D:\ImagePath\"/> 
    <!--redis路径-->
    <add key="REDIS" value="172.20.70.20"/>
    <add key="strconn_old" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.20.60.35)(PORT=1521))(CONNECT_DATA=(SID=untestdb)));User Id=customs;Password=customs20160908;Pooling=true;Min Pool Size=100;Max Pool Size=1000;"/>
 		<add key="strconn" value="Data Source =(DESCRIPTION=(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = compdb.feili.com)(PORT = 1521)))(LOAD_BALANCE = yes)(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = wmsdb2srv)));User Id = CUSTOMS; Password = Toms#2016xbg;"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
